h1 {
    text-align: center;
}

.artist-item {
    background-color: #2e2f33;
    width: 150px;
    height: 150px;
    margin: 5px;
    float: left;
}

.artist-item img {
    border-radius: 50%;
    margin: 10px 22px;
}

.artist-name {
    text-align: center;
    margin: 0px;
}

.duration-picker {
    text-align: center;
    margin-bottom: 15px;
}

.duration-picker input[type="radio"] {
    display: none;
}

.duration-picker label {
    display:inline-block;
    background-color:#282828;
    padding: 6px 15px;
    width: 170px;
    font-family:Arial;
    font-size:16px;
    font-weight: bold;
    font-size: 1em;
}

.duration-picker input[type="radio"]:checked + label { 
    background-color: #565656;
    color: #cdcdcd;
}