.hidden { 
    display: none; 
}

.container {
    width: 800px;
	max-width: 90%;
    margin: auto;
}

h1, h2 {
    color: #dfe0e6;
    font-weight: lighter;
}

body {
    background-color: #1c1c1f;
    color: #88898c;
    font-family: Helvetica, Arial, sans-serif
}