<!DOCTYPE html>
<html>
<head>
    <Title>My Top 25</Title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8" />
    <meta name="description" value="See your 25 most listened to artists from Spotify." />
    <link rel="stylesheet" type="text/css" href="/css/base.css" />
    <link rel="stylesheet" type="text/css" href="/css/index.css" />
</head>
<body>
    <div class="container">
        <div class="index-content">
            <h1>My Top 25</h1>
            <p>See your 25 most listened to Spotify artists.</p>
            <div class="login-box">
                <p><a href="/login">Log in with <img src="/img/Spotify_Logo_RGB_Green.png" class="spotify-logo" /></a></p>
            </div>
        </div>
    </div>
</body>
</html>